html,
body,
.wrapper,
.header,
.navigator {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
.wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

.wrapper {
    overflow-x: auto;
}

.header {
    z-index: 2;
    position: fixed;
    height: var(--header-height);
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    background-color: var(--secondary);
    box-shadow: var(--shadow-1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.content {
    z-index: 1;
    box-sizing: border-box;
    min-width: 400px;
    height: fit-content;
    min-height: calc(100% - var(--header-height));
    background-color: var(--primary);
    overflow-y: visible;
}

.none {
    background-color: var(--primary);
    height: var(--header-height);
}

.wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: var(--primary);
}

.wrapper::-webkit-scrollbar-track {
    margin-top: calc(4px + var(--header-height));
    margin-bottom: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #666f;
    border-radius: calc(4px);
}

.navigator {
    flex: 3;
    position: relative;
    --w: 1%;
    --h: 18%;
}

.action {
    flex: 2;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.routes {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.route {
    cursor: pointer;
    -webkit-user-drag: none;
    flex: 1;
    height: 100%;
    line-height: var(--header-height);
    color: var(--theme);
    text-align: center;
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 0;
}

.indicator {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: -webkit-flex;
    display: flex;
}

.indicator .box {
    flex: 1;
    transition: var(--animation);
    position: relative;
}

.indicator .box::after {
    content: "";
    position: absolute;
    left: var(--w);
    right: var(--w);
    top: var(--h);
    bottom: var(--h);
    background-color: var(--theme);
    border-radius: 8px;
    box-shadow: var(--shadow-1);
}

.indicator::before,
.indicator::after {
    content: "";
    transition: var(--animation);
    height: 100%;
}

.indicator::before {
    flex: var(--before);
}

.indicator::after {
    flex: calc(var(--sum) - var(--before) - 1);
}

.route:focus,
.route:hover {
    font-size: larger;
}

.route.selected {
    font-size: 1.25em;
    color: var(--color-reverse);
}

.search {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-right: 4px;
}

.search-input {
    display: block;
    box-sizing: border-box;
    width: 60%;
    height: 36px;
    line-height: 36px;
    padding-left: 8px;
    padding-right: 30px;
    border: 1px solid #0000;
    border-radius: 8px;
    background-color: var(--primary);
    border: none;
    outline: none;
}

.search .search-button {
    position: absolute;
    height: 36px;
    right: 20%;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .search-input {
        width: 95%;
    }

    .search .search-button {
        right: 2.5%;
    }
}

@media screen and (min-width: 960px) {
    .routes::after {
        content: "";
        width: 2px;
        top: 20%;
        bottom: 20%;
        right: -1.5px;
        border-radius: 2px;
        background-color: var(--primary);
        position: absolute;
    }
}

.search .search-icon {
    margin-right: 4px;
    height: 36px;
    line-height: 36px;
}

.search .search-icon:hover {
    color: var(--theme);
    transform: scale(1.1);
}

.registry {
    height: 100%;
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hidden {
    display: none;
}