.cube-wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
}

.cube {
    --rotate-x: -30deg;
    --rotate-y: 45deg;
    --alpha: 0.4;
    --gos: blur(8px);
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transition: none;
}

.cube-controller {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    -webkit-backdrop-filter: var(--gos);
    backdrop-filter: var(--gos);
}

.cube-front {
    background-color: rgba(255, 0, 0, var(--alpha));
    transform: translateZ(100px);
}

.cube-back {
    background-color: rgba(0, 255, 255, var(--alpha));
    transform: rotateY(180deg) translateZ(100px);
}

.cube-left {
    background-color: rgba(0, 255, 0, var(--alpha));
    transform: rotateY(-90deg) translateZ(100px);
}

.cube-right {
    background-color: rgba(255, 0, 255, var(--alpha));
    transform: rotateY(90deg) translateZ(100px);
}

.cube-top {
    background-color: rgba(0, 0, 255, var(--alpha));
    transform: rotateX(90deg) translateZ(100px);
}

.cube-bottom {
    background-color: rgba(255, 255, 0, var(--alpha));
    transform: rotateX(-90deg) translateZ(100px);
}