.cube-wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    perspective: 500px;
}

.cube {
    --axis-x: 0;
    --axis-y: 0;
    --axis-z: 0;
    --angle: 0deg;
    --alpha: 0.7;
    --gos: blur(8px);
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(var(--axis-x), var(--axis-y), var(--axis-z), var(--angle));
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transition: none;
}

.cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    -webkit-backdrop-filter: var(--gos);
    backdrop-filter: var(--gos);
    line-height: 200px;
    text-align: center;
    font-size: 100px;
    color: var(--color-reverse);
}

.cube-front {
    background-color: rgba(255, 0, 0, var(--alpha));
    transform: translateZ(100px);
}

.cube-back {
    background-color: rgba(0, 255, 255, var(--alpha));
    transform: rotateY(180deg) translateZ(100px);
}

.cube-left {
    background-color: rgba(0, 255, 0, var(--alpha));
    transform: rotateY(-90deg) translateZ(100px);
}

.cube-right {
    background-color: rgba(255, 0, 255, var(--alpha));
    transform: rotateY(90deg) translateZ(100px);
}

.cube-top {
    background-color: rgba(0, 0, 255, var(--alpha));
    transform: rotateX(90deg) translateZ(100px);
}

.cube-bottom {
    background-color: rgba(255, 255, 0, var(--alpha));
    transform: rotateX(-90deg) translateZ(100px);
}

.cube-controller {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cube-wrapper .configure {
    z-index: 2;
    position: absolute;
    bottom: 40px;
    background-color: var(--blur);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 4px 12px;
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.configure .disp {
    flex: 1;
    width: 3em;
    display: inline-block;
    text-align: left;
}