.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    transition: none;
    width: 250px;
    height: 300px;
    margin: 10px;
    background-color: var(--secondary);
    border-radius: 8px;
    overflow: hidden;
    perspective: 100px;
    transform-origin: center center;
    --deg: 30deg;
    --opacity: 1;
    position: relative;
    transition-property: scale;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timingfn);
}

.card:hover {
    scale: 1.03;
}

.card::after {
    content: "";
    position: absolute;
    transition: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    .card::after {
        background: linear-gradient(var(--deg),
                rgba(0, 0, 0, var(--opacity)) 0%,
                rgba(31, 31, 31, var(--opacity)) 33%,
                rgba(95, 95, 95, var(--opacity)) 67%,
                rgba(191, 191, 191, var(--opacity)) 100%)
    }
}

@media (prefers-color-scheme: light) {
    .card::after {
        background: linear-gradient(var(--deg),
                rgba(0, 0, 0, calc(.25 * var(--opacity))) 0%,
                rgba(63, 63, 63, calc(.50 * var(--opacity))) 33%,
                rgba(191, 191, 191, calc(.75 * var(--opacity))) 67%,
                rgba(255, 255, 255, calc(1.0 * var(--opacity))) 100%)
    }
}

.card img {
    flex: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid var(--primary);
}

.card-content {
    flex: 1;
    padding: 8px;
    font-size: small;
}

.card-content .card-title {
    display: block;
    margin: 0 7px 4px 7px;
    font-size: medium;
    text-align: center;
    padding: 4px;
    background-color: var(--primary);
    color: var(--color);
    border-radius: 4px;
}

.card-content .card-info {
    display: block;
    margin: 0 13px;
    font-size: small;
}

.card-content .card-info a {
    font-size: small;
    text-decoration: underline;
    color: var(--theme);
}

.card-footer {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-footer a {
    display: block;

    padding: 7px 12px;
    margin: 8px 4px;
    border-radius: 6px;

    font-size: 16px;
    line-height: 16px;
    text-wrap: nowrap;

    text-decoration: none;
    color: var(--theme);
    background-color: var(--primary);
    border: 0.5px solid var(--primary);
    -webkit-user-drag: none;
}

.card-footer a:hover {
    box-shadow: var(--highlight);
    border: var(--outline);
    scale: 1.1;
}